/.idea/
/logs.log
/catboost_info/
/.ipynb_checkpoints/
/images/*/*.jpg
/images/*/*.HEIC
/images/*/*.heic
/images/*/*.png
/images/*/*.JPG
/images/*/*.JPEG
/images/*/*.jpeg
/images/*/*.PNG
/images/test/*/
