/.idea/
/logs.log
*catboost_info/
*.ipynb_checkpoints/
/images/*/*.jpg
/images/*/*.HEIC
/images/*/*.heic
/images/*/*.png
/images/*/*.JPG
/images/*/*.JPEG
/images/*/*.jpeg
/images/*/*.PNG
/images/test/*/
*.jpg
*.JPG
*.PNG
*.HEIC
/experiments/logs.log
/external/shape_predictor_68_face_landmarks.dat
